<mat-expansion-panel [disabled]="checked === false" [expanded]="checked === true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Inventaire
      </mat-panel-title>
      <mat-panel-description>
        <mat-checkbox [(ngModel)]="checked"></mat-checkbox>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <section>
        <form class="inventaire-form">
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Nom" value="label" name="label" [(ngModel)]="label"/>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="number" matInput placeholder="nb" value="nb" name="nb" [(ngModel)]="nb"/>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="description" value="desc" name="desc" [(ngModel)]="desc"/>
            </mat-form-field>
            
            <button mat-flat-button color="primary" (click)="ajouter()">ajouter</button>
        </form>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-card cdkDrag *ngFor="let item of inventaire">
          <span>{{item.nb}}</span><span>{{item.nom}}</span>
          <mat-card-content>{{item.desc}}</mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="removePostButton(item)">X</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </section>
</mat-expansion-panel>