.bottom {
  position: fixed;
  bottom: 0;

}

.bottom-1 {
  text-align: center;
}

.bottom-2 {
  text-align: center;
}

.list-right {
  position: fixed;
  top: 0;
  width: 15%;
  right: 0;
  height: 100%;
}

.list-left {
  position: fixed;
  top: 0;
  width: 10%;
  left: 0;
  height: 100%;
}

.center {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.bar {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.des {
  height: 20%;
  width: 100%;
}
