.bottom {
  position: fixed;
  bottom: 0;
  background-color: grey;
  padding-top: 0.5%;
}

.bottom-1 {
  text-align: center;
}

.bottom-2 {
  text-align: center;
}

.list-right {
  position: fixed;
  top: 40px;
  width: 15%;
  right: 0;
  height: 100%;
}

.list-left {
  position: fixed;
  top: 42px;
  width: 15%;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.music{
  background-color:#275f74;
  padding:5%;
}
.center {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #3e3e3e;
}

.bar {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}



.des {
  height: fit-content;
  width: fit-content;
  padding: 1%;
  background-color: #7e7962;
  border: solid 1px #3e3e3e;
  overflow: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
