
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        <i class="fa fa-eye" style="font-size: 36px;color: grey;"></i>
        <a class="nav-link">{{appTitle}}</a>
        <i class="fa fa-align-left" style="font-size: 36px;color: grey;"></i>
        <a class="nav-link">Carte</a>
        <i class="fa fa-save" style="font-size: 36px;color: grey;float: right;"></i>
        <i class="fa fa-gear gear"></i>
        <i class="material-icons" style="font-size: 36px;color: grey;float: right;">folder_shared</i>
     
    </div>
  </nav>
</div>

