.div {
  overflow: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#total {
  font-weight: bold;
}

#dice_generator {
  width: 20%;
  overflow: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


