<div class="row">
  
  <div cdkDropList class="example-list post-it-list" (cdkDropListDropped)="drop($event)">
    <button type="button" (click)="addPostButton()" class="btn btn-primary bouton-plus">+</button>
      <div *ngFor="let postIt of postIts" class="card" cdkDrag>
        <div class="card-header" >
          <span contenteditable="true" (input)="onTitleChange(postIt, $event.target.innerHTML)">{{postIt.title}}</span>
          <i class="material-icons close-post-it" (click)="removePostButton(postIt)">close</i>
        </div>
        <div class="card-body">
          <!--<h5 class="card-title">{{postIt.title}}</h5>-->
          <p class="card-text" contenteditable="true" (input)="onTextChange(postIt, $event.target.innerHTML)">{{postIt.text}}</p>
          <!--<a href="#" class="btn btn-primary">Edit</a>-->
          
        </div>
      </div>
  </div>
</div>


<!--<div class="row">
  <div class="col-md-12">
    <button type="button" (click)="openModal()" class="btn btn-sm btn-primary" style="margin: 20px;">
      {{buttonText}}
    </button>
  </div>
</div>


<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>-->




<!--<div class="modal" tabindex="-1" role="dialog">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title">Modal title</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p>Modal body text goes here.</p>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div *ngIf="test">Content to render when condition is true.-->


<!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--  Launch demo modal-->
<!--</button>-->
<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        ...-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
