<p>postit works!</p>
<button type="button" (click)="addPostButton" class="btn btn-primary">Add Postit</button>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="test">Content to render when condition is true.

</div>
<div *ngFor="let postIt of postIts">
  <ul>
    <li>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">postIt.title</h5>
          <p class="card-text">postIt.text</p>
          <a href="#" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </li>
  </ul>
</div>

