<button mat-raised-button class="button-musique" (click)="play()" id = "playAudio">PLAY</button>
<button mat-raised-button class="button-musique" (click)="pause()" id = "pauseAudio">PAUSE</button>
<button mat-raised-button class="button-musique" (click)="stop()" id = "stopAudio">STOP</button>
<button mat-raised-button class="button-musique" (click)="volumeUp()" id = "volumeUp">VOLUME UP</button>
<button mat-raised-button class="button-musique" (click)="volumeDown()" id = "volumeDown">VOLUME DOWN</button>